* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*common*/

a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
.btn {
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}

/*Header*/
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav a:hover,
.nav .active a {
  text-shadow: 1px 0 0 currentColor;
  font-size: 1.6rem;
  color: #171100;
}

.nav .active a::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  left: 21px;
  bottom: 6px;
  background: #171100;
  border-radius: 1px;
}
.header .sign-up-btn {
  min-width: 144px;
  background: #171100;
  border-radius: 24.5px;
}

.header .action {
  margin-left: 49px;
}

/*Hero*/
.hero {
  padding: 57px 0;
  background: #fffcf4;
}
.hero .hero-body {
  display: flex;
}
.hero .hero-img-block {
  position: relative;
  width: 48%;
}
.hero .hero-img {
  display: block;
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .summary {
  position: absolute;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  bottom: 48px;
  right: 0;
}
.hero .summary .item {
  display: flex;
  align-items: center;
  position: relative;
}
.hero .summary .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}
.hero .summary .item:nth-of-type(2) .circle {
  background: #fcefff;
}
.hero .summary .item:nth-of-type(3) .circle {
  background: #ebeaff;
}
.hero .summary .item + .item {
  margin-top: 22px;
}

.hero .summary .label {
  margin-left: 16px;
  align-items: center;
}
.hero .summary .label .quantity {
  font-size: 1.4rem;
  line-height: 1.86;

  color: #5f5b53;
}
.hero .summary .label .name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.hero .hero-text {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero-text .title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-text .sub-title {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .call-to-action {
  display: flex;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 48px;
}

.hero .see-courses-btn {
  min-width: 180px;
  line-height: 64px;
  background: #ffb900;
  border-radius: 32px;
}

.hero .call-to-action .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 28px;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  cursor: pointer;
}

.hero .call-to-action .watch {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .stat strong {
  margin-top: 8px;
  padding-right: 8px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
.hero .stat strong:nth-of-type(2) {
  margin-left: 14px;
}
