* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
  --font-heading: "Sen", sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*common*/

a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
.btn {
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
/*Header*/
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav a:hover,
.nav .active a {
  text-shadow: 1px 0 0 currentColor;
  font-size: 1.6rem;
  color: #171100;
}

.nav .active a::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  left: 21px;
  bottom: 6px;
  background: #171100;
  border-radius: 1px;
}
.header .sign-up-btn {
  min-width: 144px;
  border-radius: 24.5px;
}

.header .action {
  margin-left: 49px;
}

/*Hero*/
.hero {
  padding: 57px 0;
  background: #fffcf4;
}
.hero .hero-body {
  display: flex;
}
.hero .hero-img-block {
  position: relative;
  width: 48%;
}
.hero .hero-img {
  display: block;
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .summary {
  position: absolute;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  bottom: 48px;
  right: 0;
}
.hero .summary .item {
  display: flex;
  align-items: center;
  position: relative;
}
.hero .summary .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}
.hero .summary .item:nth-of-type(2) .circle {
  background: #fcefff;
}
.hero .summary .item:nth-of-type(3) .circle {
  background: #ebeaff;
}
.hero .summary .item + .item {
  margin-top: 22px;
}

.hero .summary .label {
  margin-left: 16px;
  align-items: center;
}
.hero .summary .label .quantity {
  font-size: 1.4rem;
  line-height: 1.86;

  color: #5f5b53;
}
.hero .summary .label .name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.hero .hero-text {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero-text .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-text .sub-title {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .call-to-action {
  display: flex;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 48px;
}

.hero .see-courses-btn {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
  border-radius: 32px;
}

.hero .call-to-action .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 28px;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  cursor: pointer;
}

.hero .call-to-action .watch {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .time {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .stat strong {
  margin-top: 8px;
  padding-right: 8px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
.hero .stat strong:nth-of-type(2) {
  margin-left: 14px;
}

/* Popular */
.popular {
  padding: 200px 0;
}
.popular-top {
  display: flex;
  align-items: center;
}

.popular-top .popular-top-left {
  width: 39%;
}

.popular-top .title {
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}

.popular-top .sub-title {
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular-top .popular-top-right {
  display: flex;
  margin-left: auto;
  gap: 18px;
}
.popular-top-right .arrow-btn {
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  background: transparent;
}

.popular-top-right .arrow-btn:hover {
  background: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}

.popular-bottom {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular-bottom .course-items {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular-bottom .course-items:hover {
  border-color: transparent;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.05);
}

.popular-bottom .course-img {
  margin: -1px;
  width: calc(100% + 1.5px);
  height: 278px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.course-items .info {
  padding: 16px 22px 22px 22px;
}

.course-items .foot,
.course-items .rating,
.course-items .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-items .head .title a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  padding-right: 6px;
}

.course-items .head .star {
  margin-right: 6px;
}

.course-items .head .value {
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
}

.course-items .sub-title {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.course-items .foot {
  margin-top: 12px;
}

.course-items .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.course-items .book-btn {
  border: none;
  border-radius: 25px;
  transition-duration: 0.2s;
}

.course-items .book-now {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #ffffff;
}

.course-items .book-btn:hover {
  background: var(--primary-color);
}

/*Feedback*/
.feedback {
  background: #2e2100;
}
.feedback .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback .person {
  padding: 96px 0;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback .person .name {
  font-family: var(--font-heading);
  margin-top: 18px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback .person .studying {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}
.feedback .person .dots {
  display: flex;
  margin-top: 28px;
}

.feedback .person .dot + .dot {
  margin-left: 6px;
}

.feedback .person .dot:nth-child(2) {
  background: #ffb900;
}
.feedback .quote {
  width: 64%;
  position: relative;
}
.feedback .open-quote {
  position: absolute;
  top: -26px;
  left: -30px;
}
.feedback blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/* Features */
.features {
  margin-top: 200px;
}
.feature-img {
  display: flex;
  object-fit: cover;
  gap: 30px;
}

.feature-img .img-1,
.img-2 {
  width: 270px;
  height: 405px;
  border-radius: 16px;
}

.feature-img .img-1 {
  margin-top: 34px;
}

.features .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features .feature-desc {
  width: 41%;
}

.feature-desc .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}
.feature-desc .sub-title {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}
.feature-desc .src {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.feature-desc .sign-up-btn {
  margin-top: 32px;
  min-width: 137px;
  border: none;
  background: #ffb900;
}

.features-2nd .body {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.features-2nd .img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
.features-2nd .feature-desc {
  width: 49%;
}

.features-2nd {
  margin-bottom: 200px;
}
/* Blog */
.blog {
  padding: 96px 0;
  background: #fffcf4;
}

.blog .head .title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  text-align: center;
  letter-spacing: -0.02em;
  color: #130606;
}
.blog .head .sub-title {
  margin-top: 16px;
  width: 39%;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: #696262;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.blog-body {
  display: flex;
  gap: 30px;
}

.blog-body .blog-items {
  flex: 1;
  margin-top: 55px;
  width: 370px;
  height: 467px;
  background: #ffffff;
  border-radius: 16px;
}
.blog-body .blog-items:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}
.blog-body .blog-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.blog-body .blog-img-1 {
  object-position: 100% 0;
}

.blog-body .desc {
  padding: 20px;
}

.blog-body .time {
  display: flex;
  align-items: center;
}
.blog-body .dot {
  background: #ffb900;
  margin-right: 4px;
}
.blog-body .date {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.blog-body .line {
  margin-top: 12px;
  width: 160px;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
}

.blog-items .title a {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.read-more-btn {
  margin-top: 12px;
}

.read-more-btn {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  border: none;
}
.read-more-btn:hover {
  background: var(--primary-color);
  transition-duration: 0.2s;
}
.blog .dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}
.blog .dot:nth-child(2) {
  background: var(--primary-color);
  margin-left: 6px;
  margin-right: 6px;
}

/*Footer*/
.footer {
  background: #2e2100;
  height: 428px;
}
.footer .body {
  padding: 96px 0 38px 0;
  display: flex;
  justify-content: space-between;
}
.footer .lesson {
  width: 22%;
}
.footer .career-lesson {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}
.footer .social-media {
  margin-top: 18px;
}
.footer .social-media-icon + .social-media-icon {
  margin-left: 18px;
}

.footer .title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}

.footer .line {
  margin-top: 14px;
  margin-bottom: 28px;
  width: 130px;
  height: 1px;
  background: #59554b;
}

.footer ul li {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  margin-bottom: 12px;
}

.footer .address {
  width: 20%;
}
.footer .address b {
  font-weight: 600;
  color: #ffffff;
}
.footer .end-line {
  width: 1170px;
  height: 1px;
  background: #59554b;
}

.footer .copyright {
  text-align: center;
  margin-top: 28px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #807d74;
}
